@model LMS.Web.Models.CourseViewModel
@{
    ViewBag.Title = "Edit Course";
    Layout = "~/Views/Shared/_Layout.admin.cshtml";
    string formActionUrl = this.GetApiUrl() + "/api/Courses/UpdateCourse/" + Model.Id;
}
@section head {

}
<div class="row col-md-12">
    <div class="col-md-3">
        course tree
    </div>
    <div class="col-md-9">
        <form id="CourseForm" name="course" method="put" action="@formActionUrl" enctype="multipart/form-data">
            <div class="form-group row col-md-12">
                <div class="form-group row col-md-12">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.CourseType, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CourseType, Model.CourseTypeList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CourseType)
                        <br />
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-md-6">
                        <button id="SaveCourse" class="btn btn-primary pull-right">Save</button>
                        @*<input type="submit" value="Save" class="btn btn-primary pull-right" />*@
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                    <div class="clearfix"><br /></div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Objectives, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Objectives, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Objectives)
                    </div>
                    <div class="clearfix"><br /></div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Notes, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Notes)
                    </div>
                    <div class="clearfix"><br /></div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Content, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Content, new { type = "file" })
                        @Html.ValidationMessageFor(m => m.Content)
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
<script src="~/Scripts/jquery.form.min.js"></script>
<script type="text/javascript" title="">
    // get current course details
    $(function () {
        $.ajax({
            url: "@this.GetApiUrl()" + "/api/Courses/GetCourse/" + @Model.Id,
            success: function (course) {
                $("#Name").val(course.Name);
                $("#Description").val(course.Description);
            }
        });

        //http://stackoverflow.com/questions/10899384/uploading-both-data-and-files-in-one-form-using-ajax
        var formData = new FormData($("form")[0]);
        $("#SaveCourse").click(function() {
            $.ajax({
                url: "@formActionUrl",
                data: formData,
                async: false,
                type: "POST",
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + "@this.GetToken()");
                },                
                success: function (result) {
                    console.log("success");
                    console.log(result);
                }
            });
            console.log(formData);
            return false;
        });
    });
</script>
    
}
