@{
    ViewBag.Title = "Manage Course Categories";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet" />
}
<div class="row col-md-12" data-ng-controller="CourseManageController">
    <div class="col-md-3">
        <a href="#" data-ng-click="loadCategoryCreator()" class="btn btn-sm btn-primary">Add new category &raquo;</a>
        <div>
            <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
        </div>
        <div class="tree-view" kendo-tree-view="tree" k-data-source="treeData" k-template="itemTemplate" k-on-change="selectedItem=dataItem"></div>
    </div>
    <div id="EditorContainer" class="col-md-9">
        <div class="form-group row col-md-12">
            <div class="col-md-6">
                <label class="control-label" for="CategoryName">Category Name:</label>
                <input id="CategoryName" data-ng-model="Category.Name" required class="form-control text-box single-line" type="text" placeholder="Course category name..." />
            </div>
            <div class="col-md-6" style="margin-top: 2em">
                <button id="CreateCategory" data-ng-click="createCategory()" type="button" class="btn btn-primary pull-right">Save</button>
                <a href="#" data-toggle="modal" data-target="#DeleteCategoryModal" class="editor-btn btn btn-danger pull-right hidden" style="margin-left: 1em">Delete</a>
                <button id="UpdateCategory" data-ng-click="updateCategory()" type="button" class="editor-btn btn btn-primary pull-right hidden">Update</button>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-md-12">
                <label class="control-label" for="CategoryNotes">Category Notes:</label>
                <textarea id="CategoryNotes" data-ng-model="Category.Notes" class="form-control" cols="40" rows="5" placeholder="A brief description of the new course category..."></textarea>
                <br />
                <a href="#" data-toggle="modal" data-ng-click="clearCourse()" data-target="#CreateCourseModal" class="editor-btn btn btn-primary pull-right hidden">Add course to&nbsp;<span style="text-decoration: underline">{{Category.Name}}</span> »</a>
            </div>
        </div>
    </div>
    <div id="LoadingContainer" class="col-md-9 hidden">
        <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
    </div>
    <div id="CourseContainer" class="col-md-9 hidden">
        <p class="lead">Click below to add content, create sessions, and manage <span style="text-decoration: underline" >{{Course.Name}}</span>.</p>
        <a href="#" data-toggle="modal" data-target="#DeleteCourseModal" class="btn btn-danger pull-right" style="margin-left: 1em">Delete</a>
        <a href="#" id="EditCourse" class="btn btn-primary pull-right" style="margin-left: 1em">Manage Course &raquo;</a>
        <a href="#" id="ManageSessions" class="btn btn-primary pull-right">Manage Session &raquo;</a>
    </div>
    @Html.Partial("_Manage.delete.category")
    @Html.Partial("_Manage.create.course")
    @Html.Partial("_Manage.delete.course")
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.all.min.js"></script>
    <script src="~/Scripts/Library/kendo-js/kendo.angular.min.js"></script>
    <script type="text/javascript">
        var EDIT_URL = "@Url.Action("Edit", "Course")";
        var SESSION_URL = "@Url.Action("Session", "Course")";
    </script>
    <script src="~/Scripts/Course/ManageController.js"></script>
}