@model LMS.Web.Models.ClientViewModel

@{
    ViewBag.Title = "Manage Clients";
    Layout = "~/Views/Shared/_Layout.admin.cshtml";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
}
<p class="lead">
    <a href="#" data-toggle="modal" data-target="#CreateModal" class="btn btn-primary">Add new client »</a>
</p>
<hr />
<p class="lead">
    <table id="clients" class="table"><tr><td><div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...</td></tr></table>
</p>
@* -- Create Modal -- *@
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="CreateModal">Add new client</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button id="Create" type="button" class="btn btn-default">Create</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* -- Edit Modal -- *@
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="EditModal">Edit</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            <input id="EditName" class="form-control text-box single-line" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="Update" type="button" class="btn btn-default">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* -- Delete Modal -- *@
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="DeleteModal">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-offset-1">Are you sure you want to delete client <span style="text-decoration: underline" id="DeleteName"></span>?</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1">
                            <button id="Delete" type="button" class="btn btn-default">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        var clientId = -1;
        var clientName = "";

        $(function () {
            // list existing clients
            loadClients();

            // add client
            $("#Create").click(function () {
                $.ajax({                    
                    url: "http://localhost:58021/api/clients/CreateClient/",
                    data: { Name: $("#Name").val() },
                    type: "POST",
                    cache: false,
                    success: function (result) {
                        $("#CreateModal").modal("hide");
                        showClientSuccess(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            // edit client
            $("#EditModal").on("show.bs.modal", function (e) {
                var $invoker = $(e.relatedTarget);
                clientId = $invoker.attr("data-val");
                clientName = $invoker.attr("data-name");
                $("#EditName").val(clientName);
            });

            $("#Update").click(function () {
                $.ajax({
                    url: "http://localhost:58021/api/clients/UpdateClient/" + clientId,
                    data: { ClientId: clientId, Name: $("#EditName").val() },
                    type: "PUT",
                    cache: false,
                    success: function (result) {
                        $("#EditModal").modal("hide");
                        clientName = $("#EditName").val();
                        showClientUpdate();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            // delete client
            $("#DeleteModal").on("show.bs.modal", function (e) {
                var $invoker = $(e.relatedTarget);
                clientId = $invoker.attr("data-val");
                clientName = $invoker.attr("data-name");
                $("#DeleteName").html(clientName);
            });

            $("#Delete").click(function () {
                $.ajax({
                    url: "http://localhost:58021/api/clients/DeleteClient/" + clientId,
                    type: "DELETE",
                    cache: false,
                    success: function (result) {
                        $("#DeleteModal").modal("hide");
                        showClientDelete();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });            
        });

        function showClientSuccess(result)
        {
            var msg = "Client: <b>" + result.Name + "</b> successfully created!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                    .removeClass("hidden")
                    .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function showClientUpdate() {
            var msg = "Client: <b>" + clientName + "</b> successfully updated!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                    .removeClass("hidden")
                    .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function showClientDelete() {
            var msg = "Client: <b>" + clientName + "</b> successfully deleted!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                    .removeClass("hidden")
                    .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function loadClients()
        {
            var table = $("#clients");
            var token = "@ViewBag.Token";

            $.ajax({
                url: 'http://localhost:58021/api/clients/GetClients/',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + token);
                },
                type: "GET",
                cache: false,
                success: function (clients) {
                    table.html("<tr></tr>");
                    var row = '';
                    $.each(clients, function () {
                        row = '<tr>';
                        row += '<td>' + this.Name + '</td>';
                        row += '<td width="15%">';
                        row += '<a href="#" data-toggle="modal" data-target="#EditModal" class="edit" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Edit</a> | ';
                        //row += '<a href="#" data-toggle="modal" data-target="#DetailsModal" class="details" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Details</a> | ';
                        row += '<a href="#" data-toggle="modal" data-target="#DeleteModal" class="delete" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Delete</a>';
                        row += '</td>';
                        row += '</tr>';
                        table.append(row);
                    })
                }
            });
        }
    </script>
}
